.navbar{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: orangered;
    .navbar-logo{
        font-size: larger;
        font-family: 'Courier New', Courier, monospace;
        .nav-link{
            text-decoration: none;
            color:#ffff;
        }
    }
    .nav{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        font-size: medium;
        font-family: 'Courier New', Courier, monospace;
        gap: 20px;
        .nav-link{
            text-decoration: none;
            color: #ffff;

            &.active {
                text-decoration: underline;
            }
        }

    }
}